body {
    font-family: Arial, Helvetica, sans-serif;
}

.form-row {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.form-row label{
    width: 150px;
    text-align: right;
}

.spacer {
    width: 150px;
    text-align: right;
}

.check-row {
    display: flex;
    gap: 10px;
}

.form-row input:not([type='submit']), .form-row select, .form-row textarea {
    padding: 8px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}

.form-row input:not([type='submit']):focus, .form-row select:focus, .form-row textarea:focus {
    background-color: aliceblue;
}

.form-row input[type='submit'] {
    background-color: coral;
    color: white;
    padding: 5px 20px;
    border-radius: 3px;
}

fieldset {
    background-color: rgb(255, 234, 226);
    width: 80%;
    margin: auto;
}

legend {
    background-color: coral;
    padding: 20px;
    color:aliceblue
}

@media ONLY screen AND (max-width: 480px) {
    .form-row, .check-row {
        flex-direction: column;
    }
    
    .form-row label, .spacer {
        text-align: left;
    }
}