body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:cadetblue
}
p{
    color:blue
}
#copyright{
    color:rgb(70, 128, 91)
}
h2{
    color:rgb(237, 100, 100)
}
h3{
    color:brown
}
.addinfo{
    color:aqua
}
.diff{
    font-style: italic;
}