body {
    font-family: Arial, Helvetica, sans-serif;
}

.schedule {
    border-spacing: 0;
    border-collapse: collapse;
    border-top: thin solid black;
    border-bottom: thin solid black;
     /*margin: auto; takes extra space and divide*/
}

.schedule thead tr {
    background-color: blue;
    color:white
}

.schedule tfoot tr {
    background-color: blue;
    color: aliceblue;
}

.schedule tbody tr:nth-child(odd) {
    background-color: azure;
}

.schedule th, .schedule td { /*after comma, if no .schedule is used after, the .schedule is forgotten so the td is for the whole website*/
    border: thin solid black;
    padding: 5px;
    height: 30px;
    width: 10px; 
    /*margin: 10px, cannot be used because the table automatically has its own margin*/
}

.num {
    vertical-align: middle;
}

