body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #4CAF50;
    padding: 15px;
    text-align: center;
}

header h1 {
    color: white;
    margin: 0;
    padding: 15px 15px 5px 15px;
    font-size: 300%;
}

header h2 {
    color:#104312;
    margin: 10;
    font-weight: normal;
}

header h3 {
    color: #104312;
    margin: 0;
    font-weight: normal;
    font-size: 90%;
    padding-bottom: 10px;
}

header nav {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    flex-wrap: wrap;
    gap: 10px;
}

header nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px;
    background-color: #de9836;
    border-radius: 4px;
}

header nav a:hover {
    background-color: white;
    color: #de9836;
}

.active {
    background-color: white;
    color: #de9836;
}

.main-page {
    display: flex;
    justify-content: space-around;

}

.sidebar {
    width: 20%;
    background-color: rgb(236, 246, 255);
    padding: 15px;
}

.sidebar figure img {
    width: 100%;
    border-radius: 8px;
}

main {
    width: 80%;
    padding: 15px;
}

main h3 {
    color: #404940;
}

p a {
    color: rgb(255, 89, 0);
    text-decoration: none;
}

.links-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.link {
    border: thin solid black;
    box-shadow: 3px 3px 5px cadetblue;
    width: 300px;
    margin: 5px;
    text-align: center;
    display: grid;
    background-color:rgb(236, 246, 255);
    border-radius: 8px;
}

.link a {
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

.link a:hover {
    background-color: white;
    color: #4CAF50;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}