body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: aqua;
    padding: 25px;
    border-style: dashed;
    border-color: black;
    border-width: 5px;
}

nav{
    border: thin solid black;
    padding-left: 10px;
}

main p{

}

header h1{
    background-color: rgb(108, 171, 204);
}

main h1{
    border: thin dashed blue
    width 10%;
}