body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: rgb(30, 30, 127);
    color: aliceblue;
    text-align: center;
}

.sidebar h3 {
    margin: 0;
}

main {
    margin: 0;
    width: 70%;
}

article {
    font-family: 'Times New Roman', Times, serif;
}


header h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: cadetblue;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color:cornflowerblue;
    color: rgb(225, 255, 245);
}

nav a:hover {
    background-color: aliceblue;
    color: cornflowerblue;
}

.main-page {
    display: flex;
    justify-content: space-around;
}

.sidebar {
    width: 30%;
    padding: 20px;
    background-color: aquamarine;
}

.sidebar img {
    width: 100%;
}

.sidebar figure {
    margin: 0;
}

.member {
    border: thin solid black;
    box-shadow: 3px 3px 5px cadetblue;
    width: 300px;
    margin: 5px;
    text-align: center;
}

.member img {
    width: 100%;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

@media ONLY print {
    nav {
        display: none;
    }

    .main_page {
        flex-direction: column-reverse;
    }
}

@media ONLY screen AND (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    .main-page {
        flex-direction: column-reverse;
    }
    .sidebar {
        width: 100%;
    }
    .main-member {
        order: -1;
    }

    main {
        width: 100%;
    }
}